<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="loginContainer">
  <mat-form-field appearance="fill">
    <mat-label for="username">Username</mat-label>
    <input matInput id="username" type="text" formControlName="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label for="password">Password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      id="password" type="text" formControlName="password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary" class="button">Login</button>
  <button mat-raised-button class="button" (click)="registerBoolean = true">Register</button>

</form>

<!--<form (submit)="onSubmit()" class="loginContainer">-->
<!--  <app-input-text-container-->
<!--    [(ngModel)]="username"-->
<!--    name="username"-->
<!--    simpleInputLabel="Username"-->
<!--  ></app-input-text-container>-->
<!--  <br />-->
<!--  <app-input-password-container-->
<!--    [(ngModel)]="password"-->
<!--    (content)="password"-->
<!--    name="password"-->
<!--    passwordLabel="Password"-->
<!--  ></app-input-password-container>-->
<!--  <br />-->
<!--  <app-button-container-->
<!--    (click)="onSubmit()"-->
<!--    type="submit"-->
<!--    buttonLabel="Login"-->
<!--  ></app-button-container>-->
<!--</form>-->
<!--<form>
  <input [(ngModel)]="username" name="username" />
  <input [(ngModel)]="password" name="password" />
  <button (click)="onSubmit()">Login</button>
</form>-->
