<p>containers-demo works!</p>
<br>
<div class="containersDemo">
    <app-input-text-container simpleInputLabel="It's just a plain text"></app-input-text-container>
    <br>
    <app-input-number-container numberLabel="It's a number"></app-input-number-container>
    <br>
    <app-input-password-container passwordLabel="Password field"></app-input-password-container>
    <br>
    <app-input-email-container emailLabel="E-mail"></app-input-email-container>
    <br>
    <app-button-container buttonLabel="Button"></app-button-container>
</div>